body{
  background-color: lightslategray;
}
#root{
height: 55%;
margin-top: 150px;
}
.container-width{
  width: 35%;
  height: 100%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width:688px){
  body{
    max-height: 100vh;
  }
  #root{
    height: 100%;
  }
  .container-width{
    margin: 0;
    width: 100%;
    height: 100%;
  }
}